/* .navbarContainer {
    width: 100vw;
    height: 5vh;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;

    background-color: black;
    border: 1px rgb(1, 54, 1);
} */

#navbarContainer>div {
    height: 100%;
    width: 40%;

    margin: 0px;
    padding: 0px;

    background-color: rgb(2, 2, 2);
    border: none;
    margin: 0px;
    padding: 0px;
    /* margin-right: 2px;
    margin-left: 2px;
    margin-top: 1px; */
}

.navbarButton {
    height: calc(20px + 8vw);
    width: calc(20px + 8vw);

    font-size: 1rem;

    margin: 0px;
    padding: 0px;

    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: none;
    border: none;

    position: relative;
}

.navbarButton:hover {
    background: rgb(48, 48, 48);
}

.navbarButton:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 110%;
    padding-left: 115%;
    margin-left: -20px!important;
    margin-top: -55%;
    opacity: 0;
    transition: all 0.8s
}

.navbarButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.navbarContainer>div>button:hover {
    background-color: rgb(34, 33, 33);
}