#portraitContainer {
    display: flex;
    flex-direction: column;

    /* margin-right: 2%; */
    padding: 0px;

    height: 20vh;
    width: 20vw;

    background-image: url('../Photos/background.png');

    border: 3px rgb(0, 65, 0) solid;
}

#portraitContainer>img {
    -webkit-clip-path: circle(75px at 50% 50%);
    clip-path: circle(75px at 50% 50%);
}

#downloadContainer {
    display: flex;
    flex-direction: row;

    margin: 0px;
    padding: 0px;

    font-size: calc(.2vw);
}

.portraitButtonContainer>button {
    height: 100%;
    width: 50%;

    margin: 0px;
    padding: 0px;

    color: green;
    background-color: black;

    box-shadow: none;
}