.App {
  text-align: center;

  display: flex;
  flex-direction: column;

  background-image: url("Photos/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  
  overflow: hidden;

  min-height: 100vh;
}

.titleContainer h1 h3 {
  margin: 0px;
  padding: 0px;
}

.titleContainer>h1 {
  font-size: 6vw;
  margin: 0px;
  padding: 0px;
}

.titleContainer>h3 {
  font-size: 4vw;
  margin: 0px;
  padding: 0px;
}

div {
  margin: 0px;
  padding: 0ppx
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
