#projectsComponentContainer {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    
    height: 100%;
    scrollbar-color: black;

    text-align: start;
}

#projectsComponentContainer>h1 {
    margin-bottom: 0px;
    text-decoration: underline solid black;
}

.projectsListContainer {
    /* border: 3px black solid; */

    margin-top: 2vh;
    margin-bottom: 2vh;
}