.projectsComponentContainer {
    /* border: 3px black solid;
    background-color: rgba(240, 239, 239, 0.616); */
    align-self: center;

    position: relative;
    /* margin-left: auto;
    margin-right: auto;
} */
}

.projectsListContainer {
    /* border: 3px black solid; */

    margin-top: 2vh;
    margin-bottom: 2vh;
}